@import "../global-plataform.css";
.content-mk-curso input[type="file"]{
	display: none;
}
/*.content-mk-curso .form-criacao{
	position: absolute;
	padding: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}*/
.content-mk-curso .form-criacao input{
	border: 1px solid #313131;
	outline: none;
	border-radius: 5px;
	caret-color: green;
	padding: 5px;
}
.content-mk-curso #autores{
	width: 250px;
	height: 100px;
	font-size: 16px;
}
.content-mk-curso  .form-criacao textarea{
	border: 1px solid #313131;
	outline: none;
	caret-color: green;
}
.content-mk-curso option{
	padding: 5px;
	color: white;
	background-color: #313131;
	z-index: 3;
}
.content-mk-curso fieldset{
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	align-items: center;
	gap: 10px 0px;
	padding: 5px 15px;
	width: 50%;
	margin: 0 auto;
	border-radius: 25px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0,170,136,0.8);
	/*position: absolute;
	padding: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50%;*/
}
.content-mk-curso h1{
	text-align: center;
	padding: 10px;
}
.content-mk-curso .box-1{
	width: 300px;
}
.content-mk-curso .box-1 input{
	padding: 5px;
	width: 250px;
	font-size: 16px;
}
.content-mk-curso label{
	font-size: 16px;
	padding: 2px;
}
.content-mk-curso .box-1 label{
	display: block;
}
.content-mk-curso .box-1 select{
	cursor: pointer;
	border: 1px solid green;
	border-radius: 5px;
	margin: 5px auto;
	padding: 5px 10px;
	font-size: 16px;
	width: 120px;
}
.content-mk-curso input:placeholder{
	color: green;
}
.content-mk-curso input:focus{
	outline-width: 2px;
	outline-color: #013a63;
	box-shadow: 0 0 8px rgba(0, 170, 136, 0.8);
}
.content-mk-curso textarea{
	font-size: 16px;
	font-family: "Monospaced";
	width: 300px;
	height: 150px;
	padding: 5px;
	display: block;
}
.content-mk-curso button[type="submit"]{
	display: block;
	border: none;
	border-radius: 25px;
	color: white;
	background: #4caf50;
	padding: 10px;
	font-size: 16px;
	width: 300px;
	margin: 10px auto;
	cursor: pointer;
}
.content-mk-curso .arrow{
	display: inline-block;
	margin: auto 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
	border: 1px solid rgba(53,283,53,0.6);
	border-radius: 15px;
	background: #313131;
	color: #4caf50;
	width: 100px;
	height: 120px;
}