@keyframes typing{
	from{
		width: 0;
	}
}
@keyframes blink{
	from{
		border-right: transparent;
	}
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}