*{margin: 0px; padding: 0px; box-sizing: border-box; font-family: "Georgia";}
:root{
	--verde: #4caf50;
	--preto: #222222;
	--branco: #fff;
}
@import 'animation.css';
@font-face{
	font-family: "roboto-reg";
	src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
body{
	font-family: "roboto-reg";
}
a{text-decoration: none ; color: black; cursor: pointer;}
ul{list-style-type: none;}
button,select{cursor: pointer}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#box-spin{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spin{
  border: 5px solid rgba(0,0,0,0.3);
  border-top: 5px solid #4caf50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin .7s linear infinite;
}
.flex-row{
	display: flex;
	flex-flow: row nowrap;
}
.flex-column{
	display: flex;
	flex-flow: column nowrap;
}
.just-b{
	justify-content: space-between;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.oculto{
	display: none;
}
.none-text{
	color: 313131;
	font-size: 2.2em;
	text-align: center;
	font-weight: bold;
	padding: 30px 0px;
}
.wrong-text{
	color: white;
	font-size: 2.2em;
	text-align: center;
	font-weight: bold;
	padding: 10px 0px;
}

.erro-campo{
	border: 1px solid #ff0000ce;
}